<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sightings</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="sightings-container">
    <h1>Your Sightings</h1>
    <div id="sightings-link">
     <a href="/users/<%=user._id%>/sightings/new">Record a Sighting</a><br>
      <ul>
      <% sightings.forEach((sighting)=>{ %>
         <a href="/users/<%= user._id %>/sightings/<%= sighting._id %>">
          <li><%= user.username %> saw Bigfoot in <%= sighting.location %> at <%= sighting.time %></li><br>
        </a>
      <% }) %>
    </ul>
    </div>
    </div>
  </body>
</html>